{{#each cardEvent}}
<div class="col">
    <div class="card">
        <!-- Imagen de la tarjeta del evento -->
        <img src="{{src}}" class="card-img-top" alt="{{alt}}">
        <div class="card-body">
            <!-- Título de la tarjeta del evento -->
            <h5 class="card-title">{{h5}}</h5>
            <!-- Texto descriptivo de la tarjeta del evento -->
            <p class="card-text">{{p}}</p>
        </div>
    </div>
</div>
{{/each}}
